form {
    width: 100px;
    margin: 0 auto;
    text-align: left;
  }
  input[type="text"], input[type="email"]{
    width: 150px;
    height: 15px;
  }
  table {
    width: 80%;
    margin:10px;
  }
  th, td {
    border: 1px solid black;
  }
  th {
    background-color: #3f3131;
  }
  .botao-atualizar {
    background-color: green;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px; /* Borda arredondada opcional */
  }
  
  /* Estilo para o botão de deletar */
  .botao-deletar {
    background-color: red;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px; /* Borda arredondada opcional */
  }

  a {
    color: #D6AFAF;
  }