form {
    width: 100px;
    margin: 0 auto;
    text-align: left;
  }
  input[type="text"], input[type="email"]{
    width: 150px;
    height: 15px;
  }
  table {
    width: 80%;
    margin:10px;
  }
  th, td {
    border: 1px solid black;
  }
  th {
    background-color: #3f3131;
  }