p a {
    color: #D6AFAF;
}

p a{
    text-decoration: none;
}

p a{
    color: var(--CorTextoPadrão); 
    font-weight: bolder;
    font-size: 20px;
    margin-right: 20px;
}
#deletelink {
    cursor: pointer;
}

#deletelink:hover {
    text-decoration: underline; /* Opcional: Adiciona um sublinhado ao texto quando o mouse está sobre ele */
}